.cover{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    user-select: none;
    pointer-events: none;
    animation: blend_in_3_4 3s;
}

#headline {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 50%;
    font-size: 2.5em;
    font-weight: 600;
    color: rgba(255,255,255,0.75);
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: slide-in-left 3s;
}

#swipe-hint {
    top: 90%;
    left: 50%;
    animation: slide-in-left 3s;
}

#about-text-box {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    font-size: 1.5em;
    color: rgba(255,255,255,0.75);
    transform: translate(-50%, -50%);
    border: gray 2px solid;
    border-radius: 1em;
    pointer-events: none;
    animation: slide-in-left 3s;
}

#about-text {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1em;
    color: rgba(255,255,255,0.75);
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: slide-in-left 3s;
}

#interests {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 75%;
    font-size: 1.5em;
    color: rgba(255,255,255,0.75);
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: slide-in-bottom 3s;
}

html, body {
    overflow: hidden;
    background-color: #000;
}

body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: none;
}

canvas {
    width: 100%;
    height: 100%;
    z-index: -1;
}

ul {
    list-style-type: "- ";
    margin: auto;
    padding-top: 1em;
}

p {
    margin: auto;
}