.body{
    background: #202020;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: pointer;
    user-select: none;
}

.cursor{
    width: 2rem;
    height: 2rem;
    border: 2px solid transparent;
    border-radius: 40%;
    position: absolute;
    top: 50%;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow:
            0 0 10px 0.3rem rgba(255, 255, 255, 0.5),
            0 0 10px 1.5rem rgba(40, 40, 40, 0.025);
    user-select: none;
    z-index: 1;
    animation: hue 2s infinite;
}
