body{
    background-image: url(../data/images/me/8k/DSC_2332.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    cursor: none;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

html, body {
    overflow: hidden;
    background-color: #000;
}

.cursor{
    user-select: none;
    pointer-events: none;
}

#black-cover{
    user-select: none;
    pointer-events: none;
}

#swipe-hint {
    top: 90%;
    left: 50%;
    animation: slide-in-left 3s;
    user-select: none;
}

div.gallery {
    float: top;
    width: 180px;
    z-index: 1;
    user-select: none;
}

div.gallery img {
    padding-top: 1vh;
    border-radius: 25%;
    width: 100%;
    height: auto;
    user-select: none;
}